@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.container {
  max-width: 1086px;
  margin: 0px auto;
  padding: 0 20px;
  position: relative;
}

@media (max-width: 410px) {
  .container {
    padding: 0 15px;
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding-top: 36px;
  padding-bottom: 36px;
}

@media (max-width: 442px) {
  .header__container {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

.header__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32px / 24px * 100%);
  letter-spacing: 0.1px;
  color: #252B42;
  margin-right: 12.6195%;
}

@media (max-width: 500px) {
  .header__logo {
    margin-right: 8.60421%;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__items > ._au_first > * > *,
.menu__items > ._au_second > * > * {
  margin: 0px 21px 0px 0px;
}

@media (max-width: 500px) {
  .menu__items > ._au_first > * > *,
  .menu__items > ._au_second > * > * {
    margin: 0px 10px 0px 0px;
  }
}

@media (max-width: 442px) {
  .element {
    width: 75px;
    padding-bottom: 10px;
  }
}

._au_first,
._au_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 442px) {
  ._au_first,
  ._au_second {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 15px;
  }
}

.menu__items > ._au_first *,
.menu__items > ._au_second * {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.42857%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 860px) {
  .menu__items > ._au_first *,
  .menu__items > ._au_second * {
    color: #252B42;
  }
}

@media (max-width: 500px) {
  .menu__items > ._au_first *,
  .menu__items > ._au_second * {
    font-size: 16px;
  }
}

.main {
  position: relative;
  background: url("../images/background.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 850px) {
  .main {
    background-image: url("../images/background_trans.png");
  }
}

.main__body {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__body > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
  position: relative;
}

.main__title {
  padding-top: 184px;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 58px;
  line-height: 137.93103%;
  letter-spacing: 0.2px;
  color: #252B42;
}

@media (max-width: 420px) {
  .main__title {
    font-size: 48px;
  }
}

@media (max-width: 350px) {
  .main__title {
    font-size: 42px;
  }
}

.main__text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1124px) {
  .main__text {
    color: #252B42;
  }
}

.main__buttons {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 191px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons__item {
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}

@media (max-width: 438px) {
  .buttons__item {
    width: 100%;
  }
}

@media (max-width: 438px) {
  .main__buttons > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.buttons__item_orange {
  background-color: #FF7B47;
  color: #FFFFFF;
  border-radius: 37px;
  margin: 0px 10px 0px 0px;
}

.buttons__item_bordered {
  border: 1px solid #0D5C63;
  border-radius: 37px;
  color: #0D5C63;
}

.cards {
  background-color: #FAFAFA;
  margin: -111px 0 0 0;
}

.cards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.cards__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  padding: 0 15px;
}

@media (max-width: 887px) {
  .cards__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards__column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .cards__column:last-child {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .cards__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .cards__column:not(:first-child) {
    margin-top: 15px;
  }
}

.cards__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1000px;
  padding: 35px 40px;
  height: 100%;
}

.cards__item > *:not(:last-child) {
  padding: 0px 0px 15px 0px;
}

.cards__image {
  text-align: left;
}

.cards__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.cards__item-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%;
  letter-spacing: 0.2px;
  color: #737373;
}

.cards__item_green {
  background-color: #0D5C63;
}

.cards__item-title_white {
  color: white;
}

.cards__item-subtitle_white {
  color: white;
}

.stats {
  margin-bottom: 125px;
}

@media (max-width: 784px) {
  .stats {
    margin-bottom: 80px;
  }
}

.stats__body {
  margin-top: 80px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats__title {
  margin-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.stats__text {
  margin-bottom: 50px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 780px) {
  .title {
    font-size: 35px;
  }
  .text {
    font-size: 14px;
  }
}

.stats__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -15px;
}

@media (max-width: 425px) {
  br {
    display: none;
  }
}

.stats__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 10px 15px;
}

@media (max-width: 1000px) {
  .stats__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 688px) {
  .stats__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

.stats__item {
  background-color: #ffffff;
  padding: 30px 41.5px 30px;
  height: 100%;
}

.stats__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.stats__item-image {
  text-align: center;
}

.stats__item-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}

.stats__item-description {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

.advice {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 784px) {
  .advice {
    margin-top: 10px;
  }
}

.advice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advice__title {
  margin-bottom: 10px;
}

.advice__text {
  margin-bottom: 45px;
}

.advice__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 14px;
}

@media (max-width: 1046px) {
  .advice__columns {
    margin: -10px -15px;
  }
  .advice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 10px 15px;
  }
  .advice__item-title {
    text-align: center;
  }
  .advice__item-text {
    text-align: center;
  }
  .advice__item-body {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 688px) {
  .advice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .advice__item-body {
    width: 80%;
  }
}

.advice__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.advice__item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 30px 30px 30px 30px;
}

.advice__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
  padding-bottom: 15px;
}

.advice__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%;
  letter-spacing: 0.2px;
  color: #737373;
}

.advice__item-image {
  text-align: center;
}

/* -------------------------------------------------------------------------------- */
.who {
  background-color: #FFFFFF;
  padding: 100px 0px;
}

.who__header {
  padding: 0 0px 0;
  padding-bottom: 100px;
}

.who__title {
  padding-bottom: 15px;
}

.who__main-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.who__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  margin-right: 120px;
  padding-bottom: 40.69982%;
}

.who__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.who__info {
  -ms-flex-preferred-size: 1 1 auto;
      flex-basis: 1 1 auto;
}

.who__info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}

.who__info-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 171.42857%;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}

.who__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.who__info-item:not(:last-child) {
  padding-bottom: 30px;
}

.who__item-image {
  padding-right: 20px;
}

.who__item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
  padding-bottom: 5px;
}

.who__item__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 780px) {
  .who__info-title {
    font-size: 30px;
  }
  .who__item-image {
    padding-right: 15px;
  }
}

@media (max-width: 1100px) {
  .who__video {
    margin-right: 100px;
  }
}

@media (max-width: 1085px) {
  .who__main-content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .who__video {
    margin-right: 150px;
    padding-bottom: 45.25%;
  }
  .who__info-item:last-child {
    padding-bottom: 30px;
  }
}

@media (max-width: 973px) {
  .who__video {
    margin-right: 0px;
    padding-bottom: 56.25%;
  }
}

@media (max-width: 780px) {
  .who__header {
    padding-bottom: 70px;
  }
  .who {
    padding: 70px 0px;
  }
}

@media (max-width: 740px) {
  .who__text br {
    display: none;
  }
}

/*-------------------PARTNERS-----------------------PARTNERS----------------------PARTNERS-------------------*/
.partners {
  padding: 8px 0 20px 0;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  margin-top: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item img {
  padding: 0 25px 0 25px;
}

@media (max-width: 935px) {
  .partners__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media (max-width: 641px) {
  .partners__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 345px) {
  .partners__item img {
    width: 135px;
    height: auto;
  }
}

.subscribe {
  background-color: #17213C;
  padding: 26px 50px 30px 30px;
  position: relative;
  z-index: 2;
}

.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  max-width: 266px;
}

.subscribe__form {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.subscribe__input {
  padding: 15px 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__button {
  background: #FF7B47;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 15px 22.5px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.subscribe__button:active {
  background: #d1663b;
}

@media (max-width: 815px) {
  .subscribe__inner > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .subscribe__title {
    padding-bottom: 10px;
  }
  .subscribe {
    padding: 26px 30px 30px 30px;
  }
}

@media (max-width: 500px) {
  .subscribe__input {
    padding: 13px 17px;
  }
  .subscribe__button {
    padding: 13px 15.5px;
  }
  .subscribe__title {
    padding-bottom: 16px;
  }
  .subscribe {
    padding: 26px 25px 30px 25px;
  }
}

@media (max-width: 360px) {
  .subscribe__button {
    padding: 13px 12.5px;
  }
}

.partners__inner::after {
  content: '';
  background-color: #252B42;
  position: absolute;
  width: 10000px;
  height: 77px;
  bottom: 0;
  margin-left: -4500px;
  z-index: 1;
  margin-bottom: -20px;
}

/*--------GETINTOUCH---------------------------GETINTOUCH---------------------------GETINTOUCH-------------------------*/
.getintouch__inner {
  padding: 0 0 80px 0px;
}

.getintouch__header {
  padding: 80px 0;
}

.getintouch__title {
  padding-bottom: 10px;
}

.cards-getintouch__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 32.5px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 50px 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.card-item > *:not(:last-child) {
  margin-bottom: 15px;
}

.card-item__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-item__emails div a {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.42857%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.card-item__support {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.card-item__button {
  padding: 10px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.42857%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF7B47;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-item__button:hover {
  background-color: #FF7B47;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.cards-getintouch__item_active {
  background-color: #252B42;
  padding-top: 80px;
  padding-bottom: 80px;
}

.card-item__emails_active div a {
  color: white;
}

.card-item__support_active {
  color: white;
}

.card-item__button_active {
  background-color: #252B42;
  color: #ffffff;
  border: 1px solid #fff;
}

.card-item__button_active:hover {
  background-color: #fff;
  border: 1px solid #ffffff;
  color: #252B42;
}

@media (max-width: 973px) {
  .cards-getintouch__inner > *:nth-child(even) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .cards-getintouch__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .cards-getintouch__item_active {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .cards-getintouch__inner > * {
    padding: 50px 0;
  }
  .cards-getintouch__inner {
    padding: 0 0;
  }
}

@media (max-width: 583px) {
  .cards-getintouch__inner > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .cards-getintouch__inner > *:last-child {
    padding: 30px 0;
  }
}

/*------ContactUs-----------ContactUs---------------ContactUs---------ContactUs---------*/
.contact-us {
  background-color: #FFFFFF;
  padding: 40px 0;
  padding-right: 15px;
}

.contact-us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-us__main > *:not(:last-child) {
  margin-bottom: 10px;
}

.contact-us__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact-us__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact-us__button {
  background: #FF7B47;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: 700;
}

@media (max-width: 750px) {
  .contact-us__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact-us__text {
    padding-bottom: 15px;
  }
  .contact-us__button {
    padding: 12px 30px;
  }
}

.space {
  height: 200px;
}
