@import url("../css/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}

.wrapper {
	overflow: hidden;
	width: 100%;
	// height: 100%;
	position: relative;
}
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	padding-top: 36px;
	padding-bottom: 36px;
	@media (max-width: 442px) {
		padding-top: 25px;
		padding-bottom: 15px;
	}
}

.header__inner {
	flex: 0 1 auto;
	display: flex;
	align-items: center;
}

.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32px / 24px * 100%);
	letter-spacing: 0.1px;
	color: #252B42;
	margin-right: 132/1046*100%;
	@media (max-width: 500px) {
		margin-right: 90/1046*100%;
	}
	// border: 1px solid #000;
	
}
.header__menu {
	// border: 1px solid #000;
}
.menu {
}

.menu__items {
	display: flex;
	flex-wrap: wrap;
}

.menu__items > ._au_first > * > *, .menu__items > ._au_second > * > *{
	margin: 0px 21px 0px 0px;
	@media (max-width: 500px) {
		margin: 0px 10px 0px 0px;

	}
}
._au_first {
	// border: 1px solid #500;
}

._au_second {
	// border: 1px solid #050;
}

@media (max-width: 442px) {
	.element {
		// border: 1px solid #000;
		width: 75px;
		padding-bottom: 10px;
	}
}
._au_first_first {

}
._au_first_second {
}
._au_second {
}
._au_second_first {
}
._au_second_second {
}

._au_first, ._au_second {
	display: flex;
	@media (max-width: 442px) {
		width: 100%;
		justify-content: end;
		padding-right: 15px;
	}
}


.menu__items > ._au_first *, .menu__items > ._au_second *{
	font-weight: 600;
	font-size: 14px;
	line-height: 24px / 14px * 100%;
	letter-spacing: 0.2px;
	color: #737373;
	@media (max-width: 860px) {
		color: #252B42;
	}
	@media (max-width: 500px) {
		font-size: 16px;
	}
	
	
}


.main {
	position: relative;

}

.main__container {
}

.main img {
	position: absolute;
	z-index: 0;
	// right: 0;
	// bottom: 0;
	@media (min-width: 2000px) {
		object-position: 0 50%;
	}
	@media (min-width: 2100px) {
	}
	@media (max-width: 1350px) {
		right: 0;
	}
	@media (min-width: 1436px) {
		width: 100%;
	}
	@media (max-width: 860px) {
		opacity: 0.6;
	}
}

.main__body {
	max-width: 400px;
	display: flex;
	flex-direction: column;
}

.main__body > *:not(:last-child) {
	margin: 0px 0px 30px 0px;
	position: relative;
}

.main__title {
	padding-top: 184px;
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 58px;
	line-height: 80px / 58px * 100%;
	letter-spacing: 0.2px;
	color: #252B42;
	@media (max-width: 420px) {
		font-size: 48px;
	}
	@media (max-width: 350px) {
		font-size: 42px;
	}
}
.main__text {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	line-height: 30px / 20px * 100%;
	letter-spacing: 0.2px;
	color: #737373;
	@media (max-width: 1124px) {
		color: #252B42;
	}
}
.main__buttons {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 191px;
}
.buttons {
	display: flex;
	flex-wrap: wrap;
}
.buttons__item {
	padding: 10px 36px;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	@media (max-width: 438px) {
		width: 100%;

	}
}

.main__buttons > *:not(:last-child) {
	@media (max-width: 438px) {
		margin-bottom: 15px;
	}
}

.buttons__item_orange {
	background-color: #FF7B47;
	color: #FFFFFF;
	border-radius: 37px;
	margin: 0px 10px 0px 0px;
	
}
.buttons__item_bordered {
	border: 1px solid #0D5C63;
	border-radius: 37px;
	color: #0D5C63;
}

.cards {
}
.cards__container {
	display: flex;
	justify-content: space-between;
}
.cards__item {
	position: relative;
	z-index: 1000;
	bottom: 80px;
	width: 30%;
	height: 100%;
	padding: 35px 40px;
	background-color: #FFFFFF;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.356);
}

.cards__item > *:not(:last-child) {
	padding: 0px 0px 15px 0px;
}

.cards__image {
	text-align: left;
}
.cards__item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px / 24px * 100%;
	letter-spacing: 0.1px;
	color: #252B42;
}
.cards__item-subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px / 14px * 100%;
	letter-spacing: 0.2px;
	color: #737373;
}
.cards__item_green {
	background-color: #0D5C63;
}
.cards__item-title_white {
	color: white;
}
.cards__item-subtitle_white {
	color: white;
}

